
.dropButton {
  height: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}



.dropdown:hover .dropdown-content {display: block;}


.imageContainer{
  position:relative;
  overflow:hidden;
  height:90%;
  width:auto;
}
.step{
  overflow: scroll;
  height:100%;
  width:auto;
  scroll-behavior: smooth;
}


.mapContainer{position: relative;}

.mapContainer img{display: block;}

.mapContainer .arrowPos{position: absolute;}


.row {
  width: 100%;
  height: 90vh;
}
.row2 {
  width: 100%;
  height: 8vh;
}

.videoContainer {
  position: relative;
  height: auto;
  max-height: 90%;
  max-width: 100%;
}
.videos {
  position: relative;
  height: 100%;
  max-height: 80vh;
  width: 100%;
}

.routeSelection {
  background: rgba(0,0,0,0.3);
  margin: 0 -8px;
}

.routeSelection select {
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
  position: relative;
  top: 25%;
}


.routeSelection button {
  text-align: center;
  padding: 11px 10px;
  border-radius: 10px;
  position: relative;
  top: 25%;
}

.routeSelection .dropdown {
  top: 25%;
}

.routeSelection .dropdown-content {
  left: 5px;
  min-width: 200px;
}


.loadoutInfo {
  float: left;
}

.sidepanel {
  height: 150px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -25px;
  overflow-x: hidden;
  padding-top: 60px;
  padding-left: 25px;
  transition: 0.5s;
  background-color: lightblue;
  border-radius: 20px;
}

.sidepanel .closeButton {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-right: 50px;
}

.bottompanel {
  height: 510px;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.bottompanel .closeButton {
  position: absolute;
  top: -5px;
  z-index: 2;
  right: 0;
  color: red;
  font-size: 36px;
  margin-right: 50px;
}

.closeButton{
  cursor: pointer;
}


button, select{
  background-color: cyan;
  border: none;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

button:hover{
  background-color: lightskyblue;
}
input[type='checkbox'] {
  background-color: cyan;
}
#videoControls{
  background-color: rgba(47,79,79,50%);
  border-radius: 10px;
  padding: 10px 30px;
  position: absolute;
  display: flex;
  bottom: -60px;
  z-index: 1;
}

#volumeSliderLabel {
  rotate: 270deg;
  transform: translate(76px,-91px);
  display: none;
}



#volumeButton:hover + #volumeSliderLabel, #volumeSliderLabel:hover {
  display: block;
}

.controlButtons{
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 600px) {
  .routeSelection {
    /*width: 20%;*/
  }
}
